useDynLib(MvBinary)
export(MvBinaryEstim)
exportClasses("MvBinaryResult")
importFrom("mgcv", uniquecombs)
importFrom("parallel", mclapply, detectCores, makeCluster, clusterExport, parLapply, clusterEvalQ, stopCluster)
